body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    height: 1000px;
}

.banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    /* 裁剪图像的两边，保留长宽比，然后填充空间 */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* 设置元素是否对指针事件作出反应 */
    pointer-events: none;
}
.content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.banner .content h1{
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    text-transform: uppercase;
    color: #fff;
}
.banner .content p{
    font-size: 1.5em;
    color: #fff;
}