*{
    margin: 0;
    padding: 0;
}
body{
    /* vh是相对于视口的宽度，视口被均分为100单位的vh */
    height: 200vh;
    background: #111;
}
 section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2abbff;
}
section .curve{
    position: absolute;
    bottom: -200px;
    height: 200px;
    width: 100%;
}

section .curve img{
    width: 100%;
    height: 100%;
} 